@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");

* {
	text-decoration: none;
	color: rgba(31,31,31,1)
}

html {
	background: #fefefe;
}

body {
    overflow-x: hidden;
}

h1 {
	text-align: center;
	margin: 60px;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	line-height: 24px;
	font-weight: 500;
}



.display {
    width: 525px;
    padding: 0px;
    background: #fefefe;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.display::after {
    display: block;
    clear: both;
    content: "";
}

.cell {
    float: left;
    background: #fefefe;
    text-align: center;
    line-height: 25px;
    width: 25px;
    height: 25px;
    font-size: 0.75em;
}
